@import "../../../index.scss";

.all-projects-wrapper {
    padding: 100px 0;

    h4 {
        color: $background-dark-blue;
        font-weight: bold;
        text-align: center;
    }

    .project-wrapper {
        width: 300px;
        height: 200px;
        position: relative;
        margin: 0 auto 30px;

        &::before {
            content: '';
            height: 100%;
            width: 100%;
            z-index: 1;
            position: absolute;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        &:hover::before {
            background-color: rgba(151, 151, 151, 0.8);
        }

        img {
            width: 100%;
            height: 100%;
        }

        a {
            position: absolute;
            top: 45%;
            left: 30%;
            width: 150px;
            text-decoration: none;
            color: $background-dark-blue;
            z-index: 5;

            span {
                position: absolute;
                left: 25%;
                top:15%;
            }

            &:hover {
                transition: color 5s ease-in-out;
            }

            .icon {
                display: inline-block;
                background-color: $background-dark-blue;
                padding: 7px 14px;
                border-radius: 50px;
                width: 40px; 
                transition: width 0.3s ease; 
            }

            span {
                font-weight: bold;
                margin-left: 10px;
            }

            &:hover .icon {
                width: 100%; 
            }

            &:hover span {
                color: $primary-white;
                z-index: 5;
            }
        }
    }

    .viewmore-button {
        text-decoration: none;
        
            button {
                display: block;
                border-radius:0;
                margin: 0 auto;
            }
    }
}
