//General
.takeaway-page-wrapper{
    display: flex;
    flex-direction: row;
}


//Progress Bar
.progress-bar{
    background-color: rgb(194, 194, 194);
    height: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   

    .separate-line {
        width: 5px;
        height: 100%;
        background-color: #fff;
    }
}

.waiting {
    background-image: linear-gradient(to right,rgb(20, 172, 20) 33%, rgba(0,0,0,0) 20%);
}

.preparing {
    background-image: linear-gradient(to right,rgb(20, 172, 20) 66.7%, rgba(0,0,0,0) 20%);
}

.ready {
    background-image: linear-gradient(to right,rgb(20, 172, 20) 100%, rgba(0,0,0,0) 20%);
}


//Pizza Image
.pizza-img {
    background-color: rgb(217, 210, 244);
    border-radius: 50px 0 0 50px;
    height: 100px;
    margin: 20px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img {
        width: 150px;
        transform: rotate(-15deg);
    }
}


//Detail Component
.detail-wrapper {
    display: flex;
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
    }
    svg {
        display: flex;
        align-content: center;
        height: 25px;
        justify-content: center;
    }
    .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


//Order Item
.item-wrapper {
    display:flex;
    justify-content: space-between;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: gray;
        transform: translateY(-50%);
    }

    .item, .price {
        padding: 15px 0 15px 0;
    }

    .item {
        display: flex;
        flex-direction: column;
    }

    &:last-of-type {
        background-color: rgb(193, 193, 193);
    }

    .contact-icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        
        svg {
            padding: 7px;
            background-color: #fff;
            border-radius: 50px;
            cursor: pointer;
        }
    }
}


//Back to Menu button
.back-menu-btn {
    border-radius: 0;
    margin-top: 10px;
}


//Profile info
.profile-info {
    border: 1px solid gray;
    display: flex;
    width: 200px;
}

