@import "../../index.scss";

.portfolio-section {
    background-color: #121127;
    padding: 50px 0;

    h1 {
        color: $primary-white;
        font-weight: bold;
        font-size: 4.5em;
        margin-left: 30px;
        margin-bottom: 50px;
        padding: 40px 0;
    }

    .project-wrapper {
        width:600px;
        height: 400px;
        margin: 0 auto;

        img, video {
            width: 100%;
        }
    }

    .carousel-caption {

        .project-title, .project-descr {
            color: $primary-white;
        }
    
        button {
            background-color: #121127 !important;
        }
    }

    .red-captions {
        color: $primary-red !important;
    }
}

@media screen and (max-width: 750px){
    .portfolio-section-heading{
        font-size: 3em !important;
        text-align: center;
    }
}
