@import "../../index.scss";

.contact-page-wrapper {

    //Info Item
    .info-item {
        box-shadow: 0 10px 40px 0 rgba(50,50,50,.1);
        padding: 33px 40px;
        margin-bottom: 30px;

        h2 {
            font-size:1.5em;
            font-weight: bold;
            color:#131058;
            margin-bottom: 15px;
        }

        .info-wrap {
            display: flex;
            align-items: center;

            .info-icon {
                width: 90px;
                height: 90px;
                background: #fff;
                line-height: 80px;
                border-radius: 50%;
                box-shadow: 0 10px 40px 0 rgba(50,50,50,.1);
                text-align: center;
                margin-right: 20px;
    
                img {
                    max-width: 100%;
                }
            }
    
            .info-text {
                color: #666;
                
                span {
                    font-size: 1.2em;
                }
                
            }
        }

    }

    //Contact Form 

    .contact-form {
        button {
            background-color: $primary-pink;
            border:none;
            font-weight: bold;
            padding: 15px 30px;
            border-radius: 25px;
            transition: background 0.3s ease;

            &:hover {
                background-color: #f87788;
            }
        }
    }
}