@import "../../index.scss";

.form-section-contactPage {
    padding: 80px 0;

    .contact-page-heading {
        font-size: 4em;
        font-weight: bold;
        color:#131058;
        text-align: center;
        padding: 50px 0;
        margin-bottom: 80px;
    }

    h2 {
        font-size:1.5em;
        font-weight: bold;
        color:#131058;
        margin-bottom: 15px;
    }

    //Info Item
    .info-item {
        box-shadow: 0 10px 40px 0 rgba(50,50,50,.1);
        padding: 33px 40px;
        margin-bottom: 40px;

        h2 {
            font-size: 1.7em;
        }

        .info-wrap {
            display: flex;
            align-items: center;

            .info-icon {
                width: 90px;
                height: 90px;
                background: #fff;
                line-height: 80px;
                border-radius: 50%;
                box-shadow: 0 10px 40px 0 rgba(50,50,50,.1);
                text-align: center;
                margin-right: 20px;
    
                img {
                    max-width: 100%;
                }
            }
    
            .info-text {
                color: #666;
                
                span {
                    font-size: 1.2em;
                }
                
            }
        }

    }

    //Contact Form 

    .contact-form {
        box-shadow: 0 10px 40px 0 rgba(50,50,50,.1);
        text-align: center;
        padding: 57px 0;

        h2 {
            font-size: 1.9em;
        }

        input,textarea {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 20px;
            border: none;
            border-bottom: 1px solid $secondary-light-grey;
        }

        textarea {
            height: 150px;
        }

        button {
            background-color: $primary-pink;
            border:none;
            font-weight: bold;
            padding: 15px 30px;
            margin-top: 40px;
            border-radius: 25px;
            transition: background 0.3s ease;

            &:hover {
                background-color: #f87788;
            }
        }
    }
}


@media screen and (max-width: 740px) {
    .contact-page-heading {
        margin-bottom: 20px !important;
    }
    .info-item {
        h2 {
            font-size: 1.5em !important;
        }
    }

    .leaflet-container {
        height: 400px !important;
        width: 80vw !important;
    }
}