@import "../../../index.scss";

.single-project-page-wrapper {
    margin: 90px 0;
    background: linear-gradient(90deg, rgba(232,232,232,1) 57%, rgba(255,255,255,1) 91%);

    
    .single-project-header {
        background: url("/images/footer-bg.png");
        background-size: cover;
        padding-bottom: 50px;
        margin-bottom: 80px;
    }
    
    h1 {
        font-size: 3em;
        padding: 70px 0;
        text-align: center;
        color:$primary-white;
        font-weight: bold;
    }
    .project-img-wrapper {
        max-width: 600px;
        margin:0 auto;
        border:6px solid $primary-white;
        position: relative;
        
        img {
            width: 100%;
            transition: filter 0.3s ease;
        }
        
        &:hover img {
            filter: grayscale(100%);
        }
        
        button {
            background: linear-gradient(108.4deg, rgb(253, 44, 56) 3.3%, rgb(176, 2, 12) 98.4%);
            font-weight: bold;
            padding: 12px 25px;
            border: none;
            position: absolute;
            top:45%;
            left: 35%;
            transition: 0.3s ease;
            
            &:hover {
                background: linear-gradient(108.4deg, rgb(232, 128, 133) 3.3%, rgb(192, 67, 73) 98.4%);
            }
        }

    }

    h4 {
        text-align: center;
        font-size: 2.2em;
        font-weight: bold;
        color:$background-dark-blue;
    }

    ul {
        list-style-type: disc; 
        
        ::marker, strong {
            color: $primary-pink;
        }
        
    }
    
    p, li {
        line-height: 30px;
        color: $secondary-dark-grey;
    }
    
    .col-lg-6 {
        position: relative;
    }
    
    .view-github-button {
        position: relative;
        height: 100px;
        
        a {
            position: absolute;
            top: 40%;
            left: 27%;
            width: 200px;
            text-decoration: none;
            color: $background-dark-blue;
            z-index: 5;
            
            span {
                position: absolute;
                left: 25%;
                top:15%;
            }
    
            &:hover {
                transition: color 5s ease-in-out;
            }
    
            .icon {
                display: inline-block;
                background: linear-gradient(89.8deg, rgb(195, 67, 129) 11%, rgb(90, 43, 186) 83.4%);
                padding: 7px 14px;
                border-radius: 50px;
                width: 40px;
                transition: width 0.3s ease; 
            }
            
            span {
                font-weight: bold;
            }
    
            &:hover .icon {
                width: 100%; 
            }
            
            &:hover span {
                color: $primary-white;
                z-index: 5;
            }

        }
    }
}

//Modal Video

.video-modal{
    .modal-video {
        width: 100% !important;
    }

    .text-center {
        height: 300px;
        display: flex;
        flex-direction: column;
        gap:20px;
        justify-content: center;
        align-items: center;

        p{
            font-size: 1.5em;
            font-weight: bold;
            color:$secondary-muddy-brown;
        }
    }
}

@media screen  and (max-width:600px){
    .project-img-wrapper {
        width: 80%;
        button {
            // width: 20px;
            font-size: 0.7em;
            left:27% !important;
        }

    }
}



       


