@import "../../index.scss";

.about-section {
    background-color: $background-dark-blue;
    color: $primary-white;
    padding-top: 100px;
    padding-bottom: 10px;

    .main-about-heading {
        font-size: 4em;
        font-weight: bold;
        margin-left:30px;
    }

    ul {
        margin-top: 100px;

        li button{
            color: $primary-white;

            &:hover {
                color: $primary-white;
            }
        }
    }
}


//About Tab 
.about-tab-wrapper {
    
    .about-img-wrapper img {
        display: flex;
        justify-content: center;

    }

 .lets-talk-btn {
    border: 1px solid $third-red;
    font-weight: bold;
    border-radius: 0;
    background-color: rgb(29, 29, 149);
    padding: 10px 30px;
    margin-top:20px;
 }

 .about-heading {
    font-weight: bold;
    font-size: 3em;
 }
 p {
    margin-top:40px;
    line-height: 30px;
 }
    
}

.glowing-light {
    background: linear-gradient(90deg, rgba(7,6,64,1) 0%, 
    rgba(98,98,134,1)2%, rgba(160,160,161,1) 9%,
    rgba(168,168,168,1) 15%, 
    rgba(143,143,162,1) 25%, 
    rgba(7,6,64,1) 43%);
}

//Skills Section
.skills-wrapper {
    background-color: $background-dark-blue;
    h2 {
        text-align: center;
        color: $primary-white;
        font-weight: bold;
        padding: 30px 0;
    }

    .skill-wrapper {
        text-align: center;

        img {
            width: 150px;
            height: 140px;
        }
        
        span {
            display: block;
            color: $secondary-light-grey;
            font-weight: bold;
            font-size: 1.2em;
        }
    }
}


//Services section 
.services {
    padding: 50px 0;
    img {
        width: 260px;
        height: 250px;
    }

    h3 {
        font-weight: bold;
        font-size: 2em;
    }

    p {
        margin-top: 20px;
    }
}


//Social Media Section
.sm-wrapper {
    
    a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 60%;
        margin: 0 auto;
        border-radius: 15px;

        &:hover {
            background-color: rgba(170, 170, 170, 0.4);
            transition: 0.3s;
        }
    }
    svg {
        border: 1px solid rgb(44, 44, 177);
        padding: 20px 50px;
        border-radius: 10px;
        width: 50px;
        height: 80px;
    }

    span {
        font-weight: bold;
        font-size: 2em;
        width: 160px !important;
        color: $primary-white;
    }

}


//Certificates Section
.certificates-tab {
    padding:50px 0;
    .col-lg-6 {
        background-color: $secondary-light-grey;
        display: flex;
        justify-content: center;
        width: 445px;
    }
    a {
        margin: 0 auto;
        img {
            height: 300px;
        }
    }
}