//Skills Section

.skills-wrapper {

    .skill-wrapper {
        text-align: center;
        img {
            width: 200px;
            height: 200px;
        }
        
        span {
            display: block;
        }
    }
}