@import "../../index.scss";

.cv-section-wrapper {
    padding: 100px 0;

    .cv-image-wrapper {
        padding: 50px;
        box-shadow: 0px 0px 29px -4px rgba(0,0,0,0.75);
        text-align: center;
        width: 80%;

        img {
            display: inline-block;
            max-width: 100%;
        }
    }

    h2 {
        color: #131058;
        font-size: 3em;
        font-weight: bold;
    }

    p {
        color:#666;
        line-height: 30px;
        margin-top:60px;
    }

    ul {
        margin:50px 0 50px -30px;
        list-style: none;

        li {
            padding-bottom: 15px;
            padding-left: 20px;
            position: relative;
            color:#9c9c9c;

            &::before {
                position: absolute;
                left: 0;
                top: 4px;
                width: 8px;
                height: 8px;
                background: $primary-pink;
                content: "";
                border-radius: 50%;
            }
        }
    }
    a {
        background-color: $primary-pink;
        color: $primary-white;
        border-radius: 0;
        font-weight: bold;
        text-decoration: none;
        padding: 15px 36px;
        margin-top: 100px !important;
        transition: background 0.3s ease-in-out;

        &:hover {
            background-color: #fd8595;
        }
    }
        }


@media screen and (max-width: 738px) {
    .cv-image-wrapper {
        width: 100%;
    }

    h2 {
        font-size:40px !important;
        margin-top:50px;
    }

    .about-details-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        a {
            margin:0 auto;
            margin-top:-10px !important;
        }
    }
}
